@import "tailwindcss";
@custom-media --tablet (min-width: 700px);
@import "tailwindcss-animated";

:root {
  --action-color: #4caf4f;
  --action-dark: #3e9e41;
  --action-lite: #93e596;
  --nav-color: #f5f7fa;
  --headin-text: #4d4d4d;
  --context-color: #717171;
}

.box-shaddow-card {
  box-shadow: 0 0 30px #3e9e4100;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 30px #3e9e414f;
  }
}

.common-btn {
  @apply rounded-[5px] bg-[var(--action-color)] px-13 py-3.5 text-[20px] text-white duration-300 hover:bg-[var(--action-dark)] focus:bg-[var(--action-dark)];
}

.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }

  @media (width >= 60rem /* 910px */) {
    max-width: 60rem /* 910px */;
  }

  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
  }
}
